$primary: #b88743;
$secondary: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$white: #ffffff;
$black:#000000;
$dark-gray-green: #1f3f42;
$dark-turquoise: #468588;
$medium-gray-green: #798985;
$light-gray: #d0d0c4;
$gold: #b88743;